header {
    background-color: pink;
    text-align: center;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    border-style:ridge;
    border-width: 25px;
    border-color: rgb(169, 246, 198);
    max-width: 100%;
    max-height: 100%;
}

.info {
    height: 300px;
    width: 300x;
    text-align: center;
}

h2 {
    background-color: rgb(172, 13, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: palegoldenrod;
}

h3 {
    background-color: peachpuff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 94, 0);
}